<%-include('header')-%>

    <div class="text-center center-div" class="logincontainer" id="login">
    
        
        <div class="container w-25 border py-1" id="container">
            <div class="title pb-5">
                <h1>My Web App Idea</h1>
                 <span>Ready to Build Something Great? Log in to access your web idea list</span>
            </div>
            <div>
                <button type="submit" class="btn btn-success rounded-pill">
                    <a href="/login"> Login</a>
                </button>
                <button type="submit" class="btn btn-success rounded-pill">
                    <a href="/signup"> Signup</a>
                </button> 
            </div>
        </div>
    </div>
    
      <%-include('footer')-%>