@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1{
    color: red;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/background-image.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.not{
    text-decoration: underline;
}




/*login page*/
body{
    background-image: url("https://wallpapercave.com/uwp/uwp2708166.jpeg");
}

#container {
    width: 67%;
    margin: 0 auto 2% auto;
    padding: 10px;
    
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: rgba(160, 216, 240, 0.503);
    backdrop-filter: blur(10px);
    font-family:Arial, Helvetica, sans-serif;
  }

  h1{
    color: green;
  }

 /*#login{
    display: flex;
  }

  .login1{
    width: 50%;
  }*/
/* Custom Form login Styles */
.center-div {
    padding-top: 10%;
}

.btn.btn-success {

    padding: .4em 2em;
    margin-top: 2em
}

.btn.btn-success a {

    color: white;
    text-decoration: none;
}

form {
    margin: 0 3em;
}

.form-group {
    padding: 1em;
}

#login .title>span {
  
}